        body {
			background-color: #C3DEE6;
            color:#8B0000;
            font-family:sans-serif;
        }
        
        table {
            background-color: #F3F7FA;
			border-radius: 5px;
        }

        table.main {
            margin-left: auto;
            margin-right: auto;
			border: 1px solid black;
			width: 680px;
        }
		
		table.single_journey {
		    background-color: #F3F7FA;
			width: 650px;
			font-size: 20px;
		}	

		table.available_flights {
			border: 1px solid black;
			width: 630px;
			font-size: 14px;
		}
        
		table.minMaxPrices {
			width: 630px;
		}        

		table.available_flights tr:nth-child(odd) {
			background-color: #eee;
		}		
		
        th, td {
            padding: 10px;
            text-align: left;
        }
        
        select.full_width_selector {
            min-width:98%;
        }
        
        td.description_column {
            width: 100px;
        } 

         td.data_column {
            width: 200px;
        } 
        
        .large_button {
            font-size: 20px;
            color:#8B0000;
        }
